
<div class="card shadow bg-white rounded">
    <div class="card-body">
        <div class="row">
            <div class="d-flex flex-column align-items-start">
                <div class="col">
                    <label><b>Archivo: </b></label>
                    <label>@ArchiveName</label>
                </div>
                <div class="col">
                    <label> <b>Tipo de anexo: </b></label>
                    <label>@ExibitCodeName</label>
                </div>
                <div class="col">
                    <label> <b>Descripcion: </b></label>
                    <label>@AttDescription</label>
                </div>
                <div class="col">
                    <label> <b>Subido por: </b></label>
                    <label>@CreateUser</label>
                </div>
                <div class="col">
                    <label> <b>Fecha: </b></label>
                    <label>@CreateDate</label>
                </div>
            </div>
        </div>

    </div>
</div>
