@page "/ProfileUsers"
@using Control.Endeavour.FrontEnd.Models.Models.Administration.ProfileUsers.Request;
@using Control.Endeavour.FrontEnd.Models.Models.Administration.ProfileUsers.Response;
@layout MainLayout;

<ProfileUsersModal @ref="modalProfileUsers" OnStatusChanged="HandleStatusChanged" OnChangeData="HandleRefreshGridData"></ProfileUsersModal>
<div class="container-fluid mt-5">
    <!-- Parte 1: Título y Contenido alineado a la izquierda -->
    <div class="row titulo">
        <div class="col-lg-8">
            <h1>Administración - Perfiles de Funcionarios</h1>
        </div>
        <!-- Parte 2: Botón azul alineado a la derecha -->
        <div class="col-lg-4 text-end">
            <ButtonComponent BtnClassColor="btnStyle--primary" BtnClassModifiers="ml-10  btn-block" BtnType="button" BtnText="Crear" BtnOnClick="ShowModal" BtnIcon="fa-solid fa-plus"></ButtonComponent>
        </div>
    </div>

    <!-- Parte 3: Grilla -->
    <div class="row mt-4">
        <div class="col">
            <TelerikGrid Data="ProfileUsersList" PageSize="meta!.PageSize"
                         Sortable="true"
                         FilterMode="GridFilterMode.FilterMenu"
                         Resizable="true"
                         Reorderable="true"
                         EditMode="GridEditMode.Popup"
                         SelectionMode="GridSelectionMode.None">
                <GridColumns>
                    <GridCommandColumn Width="80px" Title="Acciones" HeaderClass="center-wrap" Visible="true">
                        <GridCommandButton Icon="@SvgIcon.Pencil" OnClick="@((args) => ShowModalEdit((ProfileDtoResponse)args.Item))"></GridCommandButton>
                        <GridCommandButton Icon="@SvgIcon.Trash" OnClick="@((args) => HandleRecordToDelete((ProfileDtoResponse)args.Item))"></GridCommandButton>
                    </GridCommandColumn>
                    <GridColumn Field=ProfileCode Title="Codigo" Width="100px" Filterable="true" />
                    <GridColumn Field=Profile1 Title="Nombre" Width="100px" Filterable="true" />
                    <GridColumn Field=ActiveState Title="Estado" Width="100px" Filterable="true"/>
                    <GridColumn Field=CreateUser Title="Usuario Grabo" Width="100px" Filterable="true" />
                    <GridColumn Field=CreateDate Title="Fecha Grabo" Width="100px" Filterable="true" />

                </GridColumns>
            </TelerikGrid>

        </div>
    </div>

    <!-- Parte 4: Botones en la izquierda, centro y derecha -->
    <PaginationComponent @ref="PaginationComponet" ObjectMeta="@meta" T="ProfileDtoResponse" M="ProfileCreateDtoRequest" Filter="@FilterDtoRequest" OnPaginationRefresh="HandlePaginationGrid"></PaginationComponent>
</div>

<NotificationsComponentModal @ref="notificationModal" OnModalClosed="HandleModalNotiCloseAsync"></NotificationsComponentModal>