@page "/MassiveFiling"
@layout MainLayout

<NotificationsComponentModal @ref="notificationModal"></NotificationsComponentModal>

<div class="container-fluid mt-1">

    <!-- Parte 1: Título y Contenido alineado a la izquierda -->
    <div class="row titulo">
        <div class="col-8">
            <h3>Radicación - Radicación masiva</h3>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-2">

        <!--Parte 1: Escoger Plantilla para radicación masivo-->
        <div id="panel-1" class="row pb-30">

            <div class="col-md-1 d-flex justify-content-center align-items-center">
                <div class="numero"><h2>1</h2></div>
            </div>

            <!--Descargar Plantilla-->
            <div class="row col-md-11">

                <div class="col-md-12 mb-2">
                    <h5 class="mb-0">Descargar plantilla</h5>
                    <label class="noti-2">Por favor, elija una clase de comunicación para continuar el proceso (<b>Nota:</b> Si ya cuenta con el documento listo para subir, por favor hagalo en el <b>paso 2</b>)</label>
                </div>

                <div class="col-md-5">
                    <label style="margin-bottom:6px;">Clase de comunicación: </label>
                    <TelerikDropDownList Data="@SystemFieldsCLList"
                                         Value="@SystemParamCL"
                                         ValueField="Code"
                                         TextField="Value"
                                         Filterable="true"
                                         DefaultText="@DefaulTextCL"
                                         ReadOnly="@readOnlyComu"
                                         ValueChanged="@( (string newValue) => HandleDropdownListChange(newValue) )">
                    </TelerikDropDownList>
                </div>

                <div class="col-md-7 d-flex justify-content-start align-items-end">
                    <div>
                        <ButtonComponent BtnClassColor="btnStyle--primary" BtnType="button" BtnText="Descargar Plantilla" BtnIcon="fa-solid fa-download" BtnOnClick="DownloadTemplate" BtnDisabled="@DisableButtons"></ButtonComponent>
                    </div>
                </div>

            </div>

        </div>

        <div class="row titulo p-0"></div>
        
        <!--Parte 2: Subir Radicados-->
        <div class="row pb-30 @panel_2">

            <div class="col-lg-1 d-flex justify-content-center align-items-center">
                <div class="numero"><h2>2</h2></div>
            </div>

            <!--Subir Plantilla-->
            <div class="row col-md-11">

                <div class="row">
                    <h5 class="mb-0">Subir Radicados</h5>
                    <label class="noti-2"> A continuación, adjunte el excel con los datos para radicar:</label>
                    <div class="col-md-12 mt-2">
                        <DragAndDropTemplateComponent AllowedExtensions="@AllowedExtensions" MaxFileSizeMB="@FileSize" OnFileListChanged="HandleFileFDP12"></DragAndDropTemplateComponent>
                        <span class="red mt-4">@AlertMessage</span>
                    </div>
                </div>

            </div>

        </div>

        <!--Parte 2: Radicar-->
        <div class="row pb-40 @panel_3">

            <div class="col-lg-1 d-flex justify-content-center align-items-center">
                <div class="numero"><h2>3</h2></div>
            </div>

            <div class="row col-lg-11">

                <div class="col-lg-4">
                    <h5 class="mb-0">Generar Radicado</h5>
                    <div class="col-lg-12 mt-2">
                        <ButtonComponent BtnClassColor="btnStyle--primary" BtnType="button" BtnText="Radicar" BtnIcon="fa-solid fa-paper-plane" BtnOnClick="HandleFormMassiveFiling"></ButtonComponent>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>