@page "/Home"
@layout MainLayout;
@* Home *@

<PageTitle>Dashboard</PageTitle>

<div class="row d-flex justify-content-center pb-30">
    <div class="col-11">
        <div class="card box-shadow-dashboard ">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col-12">
                                <label class="style-bg"><b>@DropDownListLanguageComponent.GetText("LabelPerfilEmpresarial")</b></label>
                            </div>
                            <div class="col-12">
                                <img src="../img/logoControlDashboard.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-3 mt-md-0 text-aend">
                        <h5 class="d-none d-sm-block">@DropDownListLanguageComponent.GetText("TituloDatosdelaEmpresa")</h5>
                        <div class="row">
                            <div class="col-12">
                                <label>@DropDownListLanguageComponent.GetText("LabelNitEmpresa"): <b>@Companies.Identification</b></label>
                            </div>
                            <div class="col-12">
                                <label>@DropDownListLanguageComponent.GetText("LabelDireccionEmpresa"): <b>@Companies.Address</b></label>
                            </div>
                            <div class="col-12 d-none d-md-block">
                                <label>@DropDownListLanguageComponent.GetText("LabelTelefonoEmpresa"): <b>@Companies.PhoneNumber</b></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="col-11 mt-3">
        <div class="card box-shadow-dashboard ">
       
            <div class="card-body d-flex flex-column">
                <!-- Primera fila que ocupa todo el espacio disponible -->
                <div class="row flex-grow-1">
                    <!-- Contenido a la izquierda -->
                    <div class="col-md-6 d-flex align-items-center">
                        <div class="content-left">
                            <div class="col-12">
                                <label class="style-bg"><b>@DropDownListLanguageComponent.GetText("LabelBandejaGestion")</b></label>
                            </div>

                        </div>
                    </div>
                    <!-- Contenido a la derecha -->
                    <div class="col-md-6">
                        <div class="row align-items-center justify-content-start">
                            <div class="col-6 d-flex align-items-center" @onclick="@ChangeDate">
                                <img src="../img/filter.svg" />
                                @DropDownListLanguageComponent.GetText("SvgFiltrarPorFecha"):

                                
                            </div>
                            @{
                                if (click)
                                {
                                    <div class="col-4 d-flex align-items-center">
                                        <TelerikDateRangePicker @bind-StartValue="@StartValue"
                                        @bind-EndValue="@EndValue"
                                                                Format="dd MMMM yyyy"
                                                                Min="@Min" Max="@Max">
                                        </TelerikDateRangePicker>
                                    </div>
                                }
                            }
                            
                        </div>
                    </div>

                </div>

                <!-- Segunda fila que ocupa todo el espacio disponible -->
                <div class="row flex-grow-1 flex-column-reverse flex-md-row">
                    <!-- Primera columna -->
                    <div class="col order-2 order-md-1 d-flex flex-column align-items-stretch m-md-5">
                        <!-- Primera fila -->
                        <div class="row flex-grow-1">
                            <div class="col d-flex align-items-center mb-3" @onclick="@((args)=> HandleManagementTraySubmit(DocumentStatusEnum.WithoutProcessingWord))">
                                <!-- Contenido 1 arriba -->
                                <DynamicCardGestionComponent BorderColor="#AB2222"
                                                             CardNumber="@Enp"
                                                             ImageUrl="../img/flechaArriba.svg"
                                                             LabelText=@DocumentStatusEnum.WithoutProcessingWord.GetDisplayValue()
                                                             CardNumberPercen="@EnpP" />
                            </div>
                            <div class="col d-flex align-items-center mb-3" @onclick="@((args)=> HandleManagementTraySubmit(DocumentStatusEnum.InProgressWord))">
                                <!-- Contenido 2 arriba -->
                                <DynamicCardGestionComponent BorderColor="#EAD519"
                                                             CardNumber="@Etr"
                                                             ImageUrl="../img/flechaAbajo.svg"
                                                             LabelText=@DocumentStatusEnum.InProgressWord.GetDisplayValue()
                                                             CardNumberPercen="@EtrP" />
                            </div>
                        </div>
                        <!-- Segunda fila -->
                        <div class="row flex-grow-1">
                            <div class="col d-flex align-items-center mb-3" @onclick="@((args)=> HandleManagementTraySubmit(DocumentStatusEnum.SuccessfullManagementWord))">
                                <!-- Contenido 2 abajo -->
                                <DynamicCardGestionComponent BorderColor="#82A738"
                                                             CardNumber="@Gex"
                                                             ImageUrl="../img/flechaAbajo.svg"
                                                             LabelText=@DocumentStatusEnum.SuccessfullManagementWord.GetDisplayValue()
                                                             CardNumberPercen="@GexP" />
                            </div>
                            <div class="col d-flex align-items-center mb-3" @onclick="@((args)=> HandleManagementTraySubmit(DocumentStatusEnum.Copy))">
                                <!-- Contenido de la tarjeta 4 -->
                                <DynamicCardGestionComponent BorderColor="#41BAEA"                                                            
                                                             CardNumber="@Cop"
                                                             ImageUrl="../img/flechaAbajo.svg"
                                                             LabelText="@DocumentStatusEnum.Copy.GetDisplayValue()"
                                                             CardNumberPercen="@CopP" />
                            </div>
                  
                        </div>
                    </div>

                    <!-- Segunda columna -->
                    <div class="col order-1 order-md-2 d-flex align-items-center justify-content-center">
                        <div class="content-bottom-right custom-chart" style="width: 600px">
                            <TelerikChart>
                                <ChartSeriesItems>
                                    <ChartSeries Type="ChartSeriesType.Donut"
                                                 Data="@Data"
                                                 Field="@nameof(DataCardDtoRequest.Value)"
                                                 CategoryField="@nameof(DataCardDtoRequest.Category)">
                                        <ChartSeriesTooltip Visible="true" Context="item">
                                            <Template>
                                                @item.Percentage.ToString("P")
                                            </Template>
                                        </ChartSeriesTooltip>                                    
                                    </ChartSeries>
                                </ChartSeriesItems>

                                <ChartLegend Visible=true Position="ChartLegendPosition.Right">
                                </ChartLegend>
                            </TelerikChart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 col-11">
        <div class="card box-shadow-dashboard">
            <div class="card-body">
                <div class="col-11">
                    <label class="style-bg"><b>@DropDownListLanguageComponent.GetText("LabelTareasDocumentales")</b></label>
                </div>
            </div>
            <div class="row d-flex justify-content-center pb-4">
                <!-- Tarjeta 1 -->
                <div class="col-6 col-lg-4 col-xl-2 col-md-6 col-sm-12 mb-3" @onclick="(e) => HandleDocumentaryTaskSubmit(codeP, id1, new List<string>(){codePR, codeFR},new List<bool>() {true, false, true, true})">
                    <!-- Contenido de la tarjeta 1 -->
                    <DynamicCardComponent BorderColor="#CB4A33"
                                          ShadowColor="#CB4A33"
                                          ImageUrl="../img/docCreado.svg"
                                          LabelText=@DropDownListLanguageComponent.GetText("LabelDocCreados")
                                          CardNumber="@created" />
                </div>

                <!-- Tarjeta 2 -->
                <div class="col-6 col-lg-4 col-xl-2 col-md-6 col-sm-12 mb-3" @onclick="(e) => HandleDocumentaryTaskSubmit(codeI, id2, new List<string>(){codeRV},new List<bool>(){false, true, false, false})">
                    <!-- Contenido de la tarjeta 2 -->
                    <DynamicCardComponent BorderColor="#01B0B2"
                                          ShadowColor="#01B0B2"
                                          ImageUrl="../img/docRevisar.svg"
                                          LabelText=@DropDownListLanguageComponent.GetText("LabelDocRevisar")
                                          CardNumber="@review" />
                </div>

                <!-- Tarjeta 3 -->
                <div class="col-6 col-lg-4 col-xl-2 col-md-6 col-sm-12 mb-3" @onclick="(e) => HandleDocumentaryTaskSubmit(codeI, id2, new List<string>(){codeAP},new List<bool>(){false, true, false, false})">
                    <!-- Contenido de la tarjeta 3 -->
                    <DynamicCardComponent BorderColor="#92376F"
                                          ShadowColor="#92376F"
                                          ImageUrl="../img/docAprobar.svg"
                                          LabelText=@DropDownListLanguageComponent.GetText("LabelDocAprobar")
                                          CardNumber="@approve" />
                </div>

                <!-- Tarjeta 4 -->
                <div class="col-6 col-lg-4 col-xl-2 col-md-6 col-sm-12 mb-3" @onclick="(e) => HandleDocumentaryTaskSubmit(codeI, id2, new List<string>(){codeFR},new List<bool>(){false, true, false, false})">
                    <!-- Contenido de la tarjeta 4 -->
                    <DynamicCardComponent BorderColor="#B8364F"
                                          ShadowColor="#B8364F"
                                          ImageUrl="../img/docFirmar.svg"
                                          LabelText=@DropDownListLanguageComponent.GetText("LabelDocFirmar")
                                          CardNumber="@toSign" />
                </div>

                <!-- Tarjeta 5 -->
                <div class="col-6 col-lg-4 col-xl-2 col-md-6 col-sm-12 mb-3" @onclick="(e) => HandleDocumentaryTaskSubmit(codeP, id1, new List<string>(){codeFR},new List<bool>(){true, false, true, true})">
                    <!-- Contenido de la tarjeta 5 -->
                    <DynamicCardComponent BorderColor="#12A955"
                                          ShadowColor="#12A955"
                                          ImageUrl="../img/docFirmado.svg"
                                          LabelText=@DropDownListLanguageComponent.GetText("LabelFirmado")
                                          CardNumber="@signed" />
                </div>

                <!-- Tarjeta 6 -->
                <div class="col-6 col-lg-4 col-xl-2 col-md-6 col-sm-12 mb-3" @onclick="(e) => HandleDocumentaryTaskSubmit(codeP, id1, new List<string>(){codeFR, codeAP, codePR, codeRV},new List<bool>(){false, false, true, true})">
                    <!-- Contenido de la tarjeta 6 -->
                    <DynamicCardComponent BorderColor="#CB4A33"
                                          ShadowColor="#CB4A33"
                                          ImageUrl="../img/docCreado.svg"
                                          LabelText="Doc Involucrado"
                                          CardNumber="@involved" />


                </div>
            </div>
        </div>
    </div>
</div>