@using Control.Endeavour.FrontEnd.Models.Models.Administration.MetaValues.Request;

<div class="my-modal">
    <TelerikRootComponent>
        <GenericModalComponent Title="Administración - MetaCampos" IsVisible="modalStatus" OnModalClosed="HandleModalClosed" width="60%">
            <ChildContent>
                <NotificationsComponentModal @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></NotificationsComponentModal>
                <div class="container">
                    <div class="row">
                        <div>
                        </div><div class="col-lg-4">
                            <InputModalComponent @ref="codeInput" @bind-InputValue="metaFieldRequest.Code" InputMaxLength="5" IsRequired="true" FieldType="InputModalTypeEnum.Code" LabelText="Codigo" Placeholder="Ingrese un codigo..." />
                        </div>

                        <div class="col-lg-4">
                            <InputModalComponent @ref="nameInput" @bind-InputValue="metaFieldRequest.NameMetaField" IsRequired="true" LabelText="Nombre" Placeholder="Ingrese un nombre..." />

                        </div> <div class="col-lg-4">
                            <label>Tipo <span class="red">*</span> </label>
                            <TelerikDropDownList Data="@systemParamListModal"
                                                 ValueField="Code"
                                                 Value="@metaFieldRequest.FieldType"
                                                 ValueExpression="@( () => metaFieldRequest.FieldType )"
                                                 TextField="Value"
                                                 ValueChanged="@((string newValue) => GetFieldTypeCode(newValue))"
                                                 Enabled="true"
                                                 Filterable="true"
                                                 DefaultText="Seleccione un tipo..."
                                                 Class="mt-2">
                            </TelerikDropDownList>
                        </div>
                    </div>
                    <div class="row  mt-3">

                        <div class="row">

                            <div class="col-lg-3">

                                <TelerikCheckBox Value="isAnonymous" ValueChanged="@((bool newValue) =>HandleCheckBoxes(newValue,1))"> </TelerikCheckBox>
                                <label>Dato Anonimizado</label>
                            </div>
                            <div class="col-lg-3">


                                <TelerikCheckBox Value="mandatory" ValueChanged="@((bool newValue) =>HandleCheckBoxes(newValue,2))"> </TelerikCheckBox>
                                <label>Dato obligatorio</label>

                            </div>

                            <div class="col-lg-3">
                                <TelerikCheckBox Value="topograhpy" ValueChanged="@((bool newValue) =>HandleCheckBoxes(newValue,3))"></TelerikCheckBox>
                                <label>Ubicacion topografica</label>
                            </div>
                            <div class="col-lg-3">
                                <label> <TelerikSwitch Value="@active" ValueChanged="( (bool newValue) => OnChangeSwitch() )" /> Activo</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 d-flex @showPanel">
                        <hr />
                        <div>
                            <label class="mb-4"> Lista de MetaValores:</label>
                        </div>
                        <div class="col-lg-6">
                            <InputModalComponent @ref="orderInput" @bind-InputValue="orderString" IsRequired=" true" FieldType="InputModalTypeEnum.NotEmpty" LabelText="Orden" Placeholder="" />
                        </div>
                        <div class="col-lg-6">
                            <label class="mb-2">Valor: <span class="red">*</span></label>
                            <div class="from-group">

                                <InputModalComponent @ref="valueInput" @bind-InputValue="valueString" IsRequired="true" FieldType="InputModalTypeEnum.Name" LabelText="" Placeholder="" />
                                <ButtonComponent BtnClassColor="btnStyle--primary" BtnClassModifiers=" ml-10" BtnType="button" BtnText="" BtnOnClick="AddToList" BtnIcon="fa-solid fa-plus"></ButtonComponent>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <table class="table custom-table">
                                <thead>
                                    <tr>
                                        <th>Acción</th>
                                        <th>Orden</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var metaValueInfo in metaValueCreateList)
                                    {
                                        <tr>
                                            <td class="center-item">
                                                <img src="../img/deleteIcon.svg" alt="Delete Icon" style="width: 20px; height: 20px; cursor: pointer;" onclick="@(()=>DeleteToList(metaValueInfo))" />
                                            </td>
                                            <td class="align-items-center" style="word-break: break-word;">
                                                <span>@metaValueInfo.ValueOrder</span>
                                            </td>
                                            <td class="center-item">

                                                <span>@metaValueInfo.ValueText</span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="from-group from-group--margin-top justify-content-center">
                        <ButtonComponent BtnClassColor="btnStyle--primaryInLine" BtnType="button" BtnText="Limpiar" BtnIcon="fa-solid fa-eraser" BtnOnClick="ResetForm"></ButtonComponent>
                        <ButtonComponent BtnClassColor="btnStyle--primary" BtnClassModifiers="ml-10" BtnType="button" BtnText="Guardar" BtnIcon="fa-solid fa-floppy-disk" BtnOnClick="HandleValidSubmit"></ButtonComponent>
                    </div>
                </div>
            </ChildContent>
        </GenericModalComponent>
    </TelerikRootComponent>
</div>