<EditForm Model="@FormModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <NotificationsComponentModal @ref="NotificationModal"></NotificationsComponentModal>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 form-group mb-4">
                <LabelComponent KeyName=@SetKeyName("LabelTextUsuario") For="name-field" AdditionalClasses="mb-2" />
                <InputComponent @ref="NameInput" InputType=InputTypeEnum.Text Placeholder="@SetKeyName("PlaceHolderUsuario")" Length="50" ErrorMessage="El usuario es requerido." ShowErrors="@formSubUser" OnChange="validateFields" />
            </div>
            <div class="col-12 form-group mb-4">
                <LabelComponent KeyName=@SetKeyName("LabelTextIngresarContraseña") For="password-field" AdditionalClasses="mb-2" />
                <InputComponent @ref="PasswordInput" InputType=InputTypeEnum.Password Placeholder="@SetKeyName("PlacerHolderIntroducirContraseña")" Length="16" ErrorMessage="La contraseña es requerida." ShowErrors="@formSubPassw" OnChange="validateFields"/>
            </div>

        </div>
        <div class="row button-container mb-4 ">
            <div class="col-12 text-center captcha-styles  mt-2">
                @*  <CaptchaComponent @ref="Captcha" OnCaptchaEntered="OnCaptchaEntered" /> *@
                <div class="mt-3 ">
                    <ReCaptchaGoogleComponent @ref="reCaptchaGoogle" SiteKey="@siteKey" OnSuccess="OnSuccess" OnExpired="OnExpired" />
                </div>
            </div>
        </div>
        <div class="row button-container">
            <div class="col-12 text-center mt-2">
                <ButtonComponent BtnClassColor="btnStyle--ligthInLine" BtnClassModifiers="btnStyle--h50 w-50" BtnType="submit" BtnText="@SetKeyName("ButtonIngresar")"></ButtonComponent>
            </div>
        </div>
        <div class="row login-prompt mb-2 mt-2">
            <div class="col-12 text-center containerText">
                <span class="login-text">@SetKeyName("SpanLoginOlvidarContraseña") </span>
                <a @onclick="CambiarComponente" class="login-link">@SetKeyName("LinkOlvidarContraseña")</a>
            </div>
        </div>
    </div>
</EditForm>