<div class="my-modal">
    <TelerikRootComponent>
        <GenericModalComponent Title="Administración - Usuarios" IsVisible="@modalStatus" OnModalClosed="HandleModalClosed" Width="40%">
            <ChildContent>
                <div class="container p-5">
                    <div class="row mb-2">
                        <div class="col-md-10">
                            <h3>Asignar permisos para usuario</h3>
                        </div>
                    </div>
                    <div class="row">
                        <label class="mb-2">Funcionalidades: <span class="red">*</span></label>
                        <TelerikDropDownList Data="@lstFuncionalities"
                                             Value="@FuncionalityIdRecord"
                                             DefaultText="Seleccione una funcionalidad..."
                                             TextField="Functionality1"
                                             ValueField="FunctionalityId"
                                             Filterable="true"
                                             ValueChanged="@((int Value) => FuncionalityChanged(Value))"
                                             FilterOperator="StringFilterOperator.Contains">
                        </TelerikDropDownList>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-6 col-form-label mb-2">Con acceso:</label>
                                <div class="col-6 text-end">
                                    <TelerikSwitch @bind-Value="@SelectAccessF" Enabled="@EnableSwitches"></TelerikSwitch>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-6 col-form-label mb-2">Guardar:</label>
                                <div class="col-6 text-end">
                                    <TelerikSwitch @bind-Value="@SelectCreateF" OnLabel="" OffLabel="" Enabled="@EnableSwitches"></TelerikSwitch>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-6 col-form-label mb-2">Modificación de registro:</label>
                                <div class="col-6 text-end">
                                    <TelerikSwitch @bind-Value="@SelectModifyF" OnLabel="" OffLabel="" Enabled="@EnableSwitches"></TelerikSwitch>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-6 col-form-label mb-2">Consultar:</label>
                                <div class="col-6 text-end">
                                    <TelerikSwitch @bind-Value="@SelectConsultF" OnLabel="" OffLabel="" Enabled="@EnableSwitches"></TelerikSwitch>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-6 col-form-label mb-2">Eliminar:</label>
                                <div class="col-6 text-end">
                                    <TelerikSwitch @bind-Value="@SelectDeleteF" OnLabel="" OffLabel="" Enabled="@EnableSwitches"></TelerikSwitch>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-6 col-form-label mb-2">Imprimir:</label>
                                <div class="col-6 text-end">
                                    <TelerikSwitch @bind-Value="@SelectPrintF" OnLabel="" OffLabel="" Enabled="@EnableSwitches"></TelerikSwitch>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-6 col-form-label mb-2">Activo:</label>
                                <div class="col-6 text-end">
                                    <TelerikSwitch @bind-Value="@SelectActiveState" OnLabel="" OffLabel="" Enabled="@EnableSwitches"></TelerikSwitch>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="from-group from-group--margin-top justify-content-center">
                        <ButtonComponent BtnClassColor="btnStyle--primary" BtnClassModifiers="ml-10" BtnType="button" BtnText="Guardar" BtnOnClick="SavePermission" BtnIcon="fa-solid fa-floppy-disk"></ButtonComponent>
                    </div>
                </div>
            </ChildContent>
        </GenericModalComponent>
    </TelerikRootComponent>
</div>
<NotificationsComponentModal @ref="notificationModal" OnModalClosed="HandleModalNotiCloseAsync"></NotificationsComponentModal>
