<div class="my-modal">
    <TelerikRootComponent>
        <GenericModalComponent Title="Copias" IsVisible="modalStatus" Width="65%" OnModalClosed="HandleModalClosed">
            <ChildContent>
                <div class="row">
                    <TelerikTabStrip PersistTabContent="true" @bind-ActiveTabIndex="@ActiveTabIndex">
                        <TabStripTab Title="Usuarios">
                            <div class="col-2">
                                <div class="d-flex flex-column">
                                    <ButtonComponent BtnDisabled="@seenCopys" BtnClassColor="btnStyle--primary" BtnIcon="fa-solid fa-user-plus" BtnClassModifiers="ml-10" BtnType="button" BtnText="Agregar Usuario" BtnOnClick="OpenNewModalUser"></ButtonComponent>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-around">
                                <div class="card row mt-3 col-12">
                                    <div class="col-12 d-flex flex-column justify-content-around copy-pt">
                                        <div class="table-responsive custom-table-container-copy">
                                            <table class="table custom-table custom-table-container-copy">
                                                <thead>
                                                    <tr>
                                                        <th hidden="@seenCopys">Eliminar</th>
                                                        <th>Usuario</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var fileInfo in userList)
                                                    {                                                     
                                                        <tr>
                                                            <td hidden="@seenCopys">
                                                                <div class="d-flex justify-content-space-evely mt-5 table-content">
                                                                    <i title="Eliminar" @onclick="@(() => DeleteUser(fileInfo))" class="fa-solid fa-trash-can delete-button"></i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <UserCardComponent FullName="@fileInfo?.FullName"
                                                                                   AdministrativeUnitName="@fileInfo?.AdministrativeUnitName" Positionname="@fileInfo?.Charge"
                                                                                   ProductionOfficeName="@fileInfo?.ProductionOfficeName"></UserCardComponent>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-flex flex-row justify-content-center mt-4">
                                    <ButtonComponent BtnDisabled="@seenCopys" BtnClassColor="btnStyle--primary" BtnIcon="fa-solid fa-plus" BtnClassModifiers="ml-10" BtnType="button" BtnText="Agregar" BtnOnClick="HandleCopys"></ButtonComponent>
                                </div>
                            </div>
                        </TabStripTab>
                        <TabStripTab Title="Entidades">
                            <div class="col-2">
                                <div class="d-flex flex-column">
                                    <ButtonComponent BtnDisabled="@seenCopys" BtnClassColor="btnStyle--primary" BtnIcon="fa-solid fa-user-plus" BtnClassModifiers="ml-10" BtnType="button" BtnText="Agregar Entidad" BtnOnClick="OpenNewModalUser"></ButtonComponent>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="card row mt-3 col-12">
                                    <div class="col-12 d-flex flex-column justify-content-around copy-pt">
                                        <div class="table-responsive custom-table-container-copy">
                                            <table class="table custom-table custom-table-container-copy">
                                                <thead>
                                                    <tr>
                                                        <th hidden="@seenCopys">Eliminar</th>
                                                        <th>Usuario</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var fileInfo in thirdList)
                                                    {
                                                        <tr>
                                                            <td hidden="@seenCopys">
                                                                <div class="d-flex justify-content-space-evely mt-5 table-content">
                                                                    <i title="Eliminar" @onclick="@(() => DeleteThirdParty(fileInfo))" class="fa-solid fa-trash-can delete-button"></i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <ThirdCardComponent IdentificationNumber="@fileInfo?.IdentificationNumber"
                                                                                    Names="@fileInfo?.Names"
                                                                                    CompanyName="@fileInfo?.CompanyName"
                                                                                    Email="@fileInfo?.Email"></ThirdCardComponent>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-flex flex-row justify-content-center mt-4">
                                    <ButtonComponent BtnDisabled="@seenCopys" BtnClassColor="btnStyle--primary" BtnIcon="fa-solid fa-plus" BtnClassModifiers="ml-10" BtnType="button" BtnText="Agregar" BtnOnClick="HandleCopys"></ButtonComponent>
                                </div>
                            </div>
                        </TabStripTab>
                    </TelerikTabStrip>
                </div>
            </ChildContent>
        </GenericModalComponent>
    </TelerikRootComponent>
    <NotificationsComponentModal @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></NotificationsComponentModal>

</div>