<div class="my-modal">
    <TelerikRootComponent>
        <GenericModalComponent Title=@Title IsVisible="modalStatus" OnModalClosed="HandleModalClosed" width="70%">
            <ChildContent>
                 <div class="container padding-modals-container">
                    <div class="row">
                        <div class="col-6 col-md-6 col-sm-10">
                            <div class="row d-flex ">
                                <div class="col-md-2">
                                    <h5 class="mb-0 titulo-azul">Radicado:</h5>                                   
                                </div>
                                <div class="col-md-8">                                    
                                    <h5 class="mb-0">@worKFlowDtoResponse.FilingCode</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-sm-10">
                            <div class="row d-flex ">
                                <div class="col-md-2">
                                    <h5 class="mb-0 titulo-azul">IdControl:</h5>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="mb-0">@worKFlowDtoResponse.ControlId</h5>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-3">
                            <TelerikTabStrip PersistTabContent="true">
                            <TabStripTab Title="Proceso documnetal">
                                <div class="my-modal">
                                    <div class="row">
                                        <TelerikGrid Data="@worKFlowDtoResponse.DocumentManagements" PageSize="@(meta.PageSize)"
                                                     Sortable="true"
                                                     Resizable="true"
                                                     ScrollMode="@GridScrollMode.Scrollable"
                                                     Height="400px"
                                                     RowHeight="60"
                                                     Reorderable="true">
                                            <GridColumns>
                                                <GridColumn Width="10%" TextAlign="ColumnTextAlign.Center">
                                                    <HeaderTemplate>
                                                        <label>Orden  </label>
                                                    </HeaderTemplate>
                                                    <Template>
                                                        @{
                                                            var data = (DocumentManagementsDtoResponse)context;
                                                            <div class="numero"><h2>@data.ManagementOrder</h2></div>
                                                        }
                                                    </Template>
                                                </GridColumn>
                                                <GridColumn Title="Información" TextAlign="ColumnTextAlign.Left" Width="50%">
                                                    <HeaderTemplate>
                                                        <label>Información </label>
                                                    </HeaderTemplate>
                                                    <Template>
                                                        @{
                                                            var data = (DocumentManagementsDtoResponse)context;
                                                            <div class="row d-flex align-items-center">
                                                                <div class="col">
                                                                    <div class="row">
                                                                        <label><b>Fecha asigno:</b> @data?.AssingDate</label>
                                                                    </div>
                                                                    <div class="row">
                                                                        <label><b>Instrucción recibida:</b> @data?.InstructionCode</label>
                                                                    </div>
                                                                    <div class="row">
                                                                        <label><b>Acción:</b> @data?.ActionCode</label>
                                                                    </div>
                                                                    <div class="row">
                                                                        <label><b>Comentario/Justificación recibida:</b> @data?.Commentary</label>
                                                                    </div>
                                                                    <div class="row">
                                                                        <label><b>Estado del tramitó:</b> @data?.FlowStateCode</label>
                                                                    </div>
                                                                    <div class="row">
                                                                        <label><b>Oficina usuario tramitó:</b> @data?.processUserBrachOffice</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </Template>
                                                </GridColumn>
                                                <GridColumn TextAlign="ColumnTextAlign.Left" Width="40%">
                                                    <HeaderTemplate>
                                                        <label> Gestor </label>
                                                    </HeaderTemplate>
                                                    <Template>
                                                        @{
                                                            var data = (DocumentManagementsDtoResponse)context;
                                                            <UserCardComponent FullName="@data?.processUserName"
                                                                               AdministrativeUnitName="@data?.processUserAdministrativeUnit"
                                                                               ProductionOfficeName="@data?.processUserProductionOffice">
                                                            </UserCardComponent>
                                                        }

                                                    </Template>
                                                </GridColumn>
                                            </GridColumns>
                                        </TelerikGrid>
                                    </div>
                                    <!-- Parte 4: Botones en la izquierda, centro y derecha -->
                                    @if (dataChargue)
                                    {
                                        @* <PaginationComponent ObjectMeta="@meta" T="ThirdPartyDtoResponse" M="DocumentManagementsDtoResponse" Filter="@thirdPartyFilter" OnPaginationRefresh="HandlePaginationGrid"></PaginationComponent> *@
                                    }
                                </div>
                            </TabStripTab>
                            <TabStripTab Title="Generación de documento">
                                <div class="my-modal">
                                    <div class="row">
                                        <TelerikGrid Data="@worKFlowDtoResponse.DocumentManagements"
                                                     Sortable="true"
                                                     Resizable="true"
                                                     ScrollMode="@GridScrollMode.Scrollable"
                                                     Height="400px"
                                                     RowHeight="60"
                                                     Reorderable="true">
                                            <GridColumns>
                                                <GridColumn Width="10%" TextAlign="ColumnTextAlign.Center">
                                                    <HeaderTemplate>
                                                        <label> Seleccionar  </label>
                                                    </HeaderTemplate>
                                                    <Template>

                                                    </Template>
                                                </GridColumn>
                                            </GridColumns>
                                        </TelerikGrid>

                                    </div>
                                    <!-- Parte 4: Botones en la izquierda, centro y derecha -->

                                </div>
                            </TabStripTab>
                        </TelerikTabStrip>
                        </div>
                    </div>
                </div>
            </ChildContent>
        </GenericModalComponent>
    </TelerikRootComponent>
    
</div>
<NotificationsComponentModal @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></NotificationsComponentModal>