
<PageTitle>ChangePassword</PageTitle>

<EditForm Model="@formModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <NotificationsComponentModal @ref="NotificationModal"></NotificationsComponentModal>

    <div class="row">
        <div class="form-group mb-5 text-center col-12">
            <LabelComponent KeyName="Codigo de Verificacion" For="name-field" FontSize="24px" IsBold="true" IsCentered="true" />
        </div>
    </div>
    <div class="col-12 form-group mb-5 text-center ">
        <CodeInputComponent @ref="codeInputComponent"></CodeInputComponent>

        <TimerComponent TimeDuration="@(TimeSpan.FromSeconds(80))" ResendButtonText="Reenviar código" request="@passwordRecoveryCodeRequestResend" TypeCode="2"/>
    </div>
    <div class="row mb-4">
        <div class="col-12 form-group mb-4">
            <LabelComponent KeyName=@setKeyName("lblNuevaContraseña") For="password-field" AdditionalClasses="mb-2"/>
            <InputComponent @ref="passwordInput" InputType=InputTypeEnum.UpdatePassword Placeholder="@setKeyName("phNuevaContraseña")" Length="16" ErrorMessage="La contraseña debe contener al menos una letra mayúscula, un número, un carácter especial y tener entre 8 y 16 caracteres de longitud." ShowErrors="@(formSubmPass)" OnChange="validatePassword" />
        </div>
        <div class="col-12 form-group mb-4">
            <LabelComponent KeyName=@setKeyName("lblConfirmarContraseña") For="password-field" AdditionalClasses="mb-2" />
            <InputComponent @ref="passwordConfirmationInput" InputType=InputTypeEnum.UpdatePassword Placeholder="@setKeyName("phConfirmarContraseña")" Length="16" ErrorMessage="La contraseña debe de coincidir con la ingresada anteriormente." ShowErrors="@(formSubmPassConfirmation)" OnChange="validatePassword" />
        </div>
    </div>
    <div class="row button-container mb-4">
        <div class="col-12 text-center mt-2">
            <button class="btn btn-primary btn-lg w-50" type="submit" disabled="@(formSubmitted)">@setKeyName("ButtonSend")</button>
        </div>
    </div>
</EditForm>